.container {
  padding: 30px;
  width: 800px;
  margin: 0 auto;
}

.container h1 {
  margin-bottom: 0.2em;
}

.container h1 + h2 {
  margin-top: 0;
  color: #777;
}

.container > div {
  margin: 2em 0;
}

.error {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  background-color: #ffdddd;
  border: 1px solid #ff0000;
  padding: 1.5em;
  border-radius: 10px;
}
