.container {
  padding: 30px;
  width: 800px;
  margin: 0 auto;
}

.container h1 {
  margin-bottom: 0.2em;
}

.container h1 + h2 {
  margin-top: 0;
  color: #777;
}

.container > div {
  margin: 2em 0;
}
