.container {
  padding: 30px;
  width: 800px;
  margin: 0 auto;
}

.container h1 {
  margin-bottom: 0.2em;
}

.container h2 {
  margin-top: 0;
  color: #777;
}

.container > div {
  margin: 2em 0;
}

.container input {
  width: 100%;
  font-size: 1em;
  padding: 0.2em 0.4em;
  margin: 0.2em 0;
}

.container label + div {
  font-size: 0.8em;
  color: #777;
}

.container label + div a {
  border-bottom: 1px dashed #555;
  color: #777;
}

.preview {
  display: flex;
  align-items: stretch;
}

.preview > div {
  margin: 10px;
}

.preview img {
  display: block;
}

.preview div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview button {
  font-size: 2em;
  padding: 0.1em 1em;
  align-self: flex-end;
}

.preview a {
  text-decoration: underline;
}

.price {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.error {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  background-color: #ffdddd;
  border: 1px solid #ff0000;
  padding: 1.5em;
  border-radius: 10px;
}
